.slogan-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
    font-family: "Barlow", sans-serif !important;
    font-size: 16px !important;
    letter-spacing: 0.16em;
}

.slogan-item{
    padding: 20px;
    margin: 10px;
}

.slogan-title{
    text-align: center;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 0.21em;
    text-transform: uppercase;
}

.slogan-subtitle{
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.19em;
    margin-top: 13px;
}